.heading
{
	font-size: 23px;
	width: 100%;
	margin: 0px;
}

.note
{
	font-size: 15px;
	color: black;
}

body
{
	background-size: cover;
}

#song_name
{
	font-size: 23px;
	margin-top: 20px;
}

canvas
{
	border:1px solid black;
	margin-top: 30px;
}